.selected {
    background-color: green;
    color: white;
    width: 18rem;
    margin: 1rem auto;
  }
  
  .unselected {
    background-color: black;
    color: white;
    width: 18rem;
    margin: 1rem auto;
  }
  