.gobar-footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

.start-button {
    color: green;
    background-color: white;
    border-color: white;
}

.start-button:hover {
    color: #fff;
    background-color: green;
    border-color: green;
}